
.footerContainer {
    position: relative;
    z-index: 50;
    background: linear-gradient(to bottom, rgba(56, 56, 56,0.2), rgba(56, 56, 56,0.8));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(12px);
    padding: 2rem;
}


.linkText {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #FFC000;
    }
}
