

.fullScreenContainer {
    position: relative;
    z-index: 50;
    background: linear-gradient(to bottom, rgba(56, 56, 56,0.4), rgba(0,0,0,0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(12px);
}