

.fullScreenContainer {
    position: relative;
    z-index: 50;
}

.linkText {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #FFC000;
    }
}


.mobileContainer {
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0.25), rgba(56, 56, 56,0.75));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 50;
    position: fixed;
    width: 100%;


    @media (min-width: 768px) {
        display: none;
    }
}