

.fullScreenContainer {
    position: relative;
    z-index: 50;
}

.linkText {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #FFC000;
    }
}


.mobileContainer {
    background: linear-gradient(to bottom, rgba(18, 16, 20, 0.4), rgba(12, 10, 14, 0.95));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 50;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    @media (min-width: 768px) {
        display: none;
    }
}