.content {
    background: rgba(136, 134, 134, 0.5);
    backdrop-filter: blur(30px);
    padding: 2rem;
}
  
.tag {

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(30px);
    color: black;

}