$zoom-animation-time: 0.15s;


.container {
    font-family: 'Playfair Display', serif;
    height: 100vh;
}

.title {
    position: relative;
    font-size: 100px;
    z-index: 1;
    display: flex;
    translate: 0 -100px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: rgba(136, 134, 134, 0.25);
    backdrop-filter: blur(32px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 0.02em;

    @media (max-width: 350px) {
        max-width: 200px;
    }

	&:hover {
        background: linear-gradient(
            -45deg,
            rgba(136, 134, 134, 0.25),
            #b8ebff 50%,
            rgba(136, 134, 134, 0.25)
        );
    
        background-size: 300%;
        background-position-x: -105%;
    
        clip-path: inset(0);
    
        transition: transform $zoom-animation-time ease-out, background-position-x 0.75s ease-out;
		transform: scale(1.05);
		background-position-x: -150%;
	}
}


.backgroundVideo {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}

.footer {
    position: relative;
    z-index: 50;
    background: linear-gradient(to bottom, rgba(56, 56, 56,0.2), rgba(56, 56, 56,0.8));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(12px);
    padding: 2rem;
}